.viewloan {
    padding: 0 1rem 2rem;

    .accordion_content {
        padding: 0 1.5rem;
    }

    .view_title {
        display: inline-block;
        font-size: 1.17em;
        color: #2C3345;
        font-weight: 600;
    }
}