.header {
    padding: 15px 30px;
    background-color: var(--color-header);

    .gen_logo {
        width: 80px !important;
        cursor: pointer;
    }

    .ui.grid {
        .header_heading {
            display: flex;
            justify-content: center;
            align-items: center;

            .header {
                color: #cbcbf5;
            }
        }

        .applicant_dropdown {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            flex-direction: row-reverse;
        }
    }
}