.header {
    padding: 15px 30px;
    background-color: #009688;

    .gen_logo {
        width: 80px!important;
        cursor: pointer;
    }

    .ui.grid {
        .header_heading {
            display: flex;
            justify-content: center;
            align-items: center;

            .header {
                color: #0101ab;
            }
        }

        .applicant_dropdown {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            flex-direction: row-reverse;
        }

        // .applicant_dropdown {
        //     display: flex;
        //     align-items: center;
        //     justify-content: right;

        //     &>.dropdown {
        //         min-width: 140px;
        //         background: #fff;
        //         padding: 6px;
        //         border-radius: 5px;

        //         .icon {
        //             position: absolute;
        //             top: 50%;
        //             right: 0;
        //             transform: translate(-50%, -50%);
        //         }
        //     }
        // }
    }
}