body {
  margin: 0;
  font-family: Inter, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 242, 244);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.grid {
  margin: 0;
}

.ui.input {
  width: 100%;
}

.ui.selection.dropdown {
  width: 100%;
}

.ui.radio.checkbox {
  padding-right: 1rem;
}

label {
  color: #2C3345;
  margin-bottom: 5px;
  display: block;
  /* font-weight: 500; */
}

.shadow_label {
  color: #888;
}

.width_100 {
  width: 100%;
}

.center {
  text-align: center !important;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}